/* Existing CSS styles */

.free-shipping {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    /* Ensure images don't overflow on smaller screens */
}

.free-shipping img {
    width: 100%;
    max-width: 1130px;
    /* Limit max-width for larger screens */
    height: auto;
}

/* Responsive CSS for 780px width */
@media screen and (max-width: 780px) {
    .free-shipping img {
        max-width: 100%;
        /* Adjust for smaller screens */
    }
}

/* Responsive CSS for 380px width */
@media screen and (max-width: 440px) {
    .free-shipping img {
        max-width: 100%;
        /* Adjust for smaller screens */
        margin-left: 15px;
    }
}